/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//


if (params.platform == 'nanopore') {
    includeConfig 'modules_nanopore.config'
} else if (params.platform == 'illumina') {
    includeConfig 'modules_illumina.config'
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    if (params.skip_multiqc) {
        withName: MULTIQC {
            ext.args   = [
                '-k yaml',
                params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
            ].join(' ').trim()
            publishDir = [
                [
                    path: { params.protocol == 'illumina' ? "${params.outdir}/multiqc" : "${params.outdir}/multiqc/${params.artic_minion_caller}" },
                    mode: params.publish_dir_mode,
                    pattern: 'multiqc*'
                ],
                [
                    path: { "${params.outdir}/multiqc" },
                    mode: params.publish_dir_mode,
                    pattern: '*variants_metrics_mqc.csv',
                    enabled: !params.skip_variants && params.platform == 'nanopore'
                ],
                [
                    path: { "${params.outdir}/multiqc" },
                    mode: params.publish_dir_mode,
                    pattern: '*assembly_metrics_mqc.csv',
                    enabled: !params.skip_assembly && params.platform == 'nanopore'
                ]
            ]
        }
    }
}
